= form_for new, url: posts_path, method: :post, remote: true do |f|
  = f.text_field :subject, placeholder: " #{t('.subject_placeholder')}"
  #form_block_textarea
    = f.text_area :content
  #form_block_submit
    = f.submit t('save'), "data-disable-with" => t('saving')
