-# handle in post.js.coffee
%div{id: "post_block_#{post.id}", class: "post_block", title: t('edit')}
  .post_hover
  .post
    .post_subject= post.subject
    .post_content= post.content
    .post_updated_at.hidden= post.updated_at
    .post_created_at= post.created_at