!!!
%html
  %head
    %title Tryblog
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.responsive.lab-1
    #challenge
      %section#challenge-objective
        %header
          %h1 Try Blog
          -#%h2 Got 15 minutes? Give Ruby a shot right now!
          -#%h3 Objective:
        .challenge-instructions
          -#= yield
          =render partial: 'posts/post', collection: collection
        %footer.affiliates
          -#на эту ссылку должен быть скрипт с выпадающим футером
          =link_to "Show Our Affiliates", "#", class: "affiliates-reveal"
          %p.chunky-bacon
            типа ссылка
            =link_to "в контактик", "http://google.com", target: "_blank"
            ))))
          %div
            Собственно сам выпадающий футер
            %p
              В этом параграфе подобраны шрифты и стили для футера и его ссылок
      %section#challenge-panels
        %nav
          %ol#editor-tabs
            %li= link_to  "Console", "#", class: "editor-tab active editor-active"
          -#похоже на дополнительную вкладку
          %ol#resource-tabs
            %li= link_to "Hints", "#", id: "hints_tab", class: "resource-tab resource-active"
        #editor-group.panel-group.active
          .editor.console.panel.active.editor-active#editor1
            .jquery-console-inner.jquery-console-nofocus
              -#%textarea.jquery-console-typer{style: 'position: absolute; top: 0px; left: -9999px;'}
              .jquery-console-message.jquery-console-welcome Interactive ruby ready.
              .jquery-console-prompt-box
                %span.jquery-console-prompt-label >
                %span.jquery-console-prompt
                  %span.jquery-console-cursor
                    = render partial: 'posts/new', object: @new_post
                    = link_to 'Delete this', posts_path, method: :delete
          %footer
            %h4 Shortcuts & Commands
